<html>
<head>
    <title>
        {{ request.form.username }} site
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrap.com/bootstrap/3.3.6/css/bootsrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrap.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
</head>
<body>
    <h1>
        <center>
            hello {{ request.form.username }}
            <p>
                <a href="localhost/">Click here to log out</a>
        </center> 
    </h1>
</body>
</html>
