<html>
<head>
    <title>
        {{ request.form.username }} site
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href=" {{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>
    <h1>
        <center>
            Hello {{ request.form.username }}
            <p>
                <a href="{{ url_for('login') }}">Click here to log out</a>
        </center> 
    </h1>
</body>
</html>
