<html>
<head>
    <title>
        Index
    </title>
    <link rel="stylesheet" href=" {{ url_for('static', filename = 'css/index.style.css') }}">
</head>
<body>
    <h1>
        Coba
    </h1>
    {% for row in rows %}
        <h1>        
            <a href="">
                {{row["title"]}}
            </a>
        </h1>
        <p>        
            {{row["content"]}}
        </p>
        <p>
            <i>       
            {{row["p_date"]}}
            </i>
        </p>	
    {% endfor %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
